.mainNav{
    background-color: #8d44a8;
    /* background-color: #500dd5; */
    position: fixed;
    top: 0;
    width:100vw;
}
.mainNav nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.3rem;
}
.mainNav nav p{
    color:aliceblue;
}


.divCart{
    /* width:; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.mainNav nav ul a{
    text-decoration: none;
    /* background-color: blue; */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}
.mainNav nav ul a li:hover{
    color: rgb(220, 218, 218);
}

.mainNav nav ul a .colorKaroBlack::before{
    content: "";
    width: 80%;
    height: 3px;
    background-color: white;
    position: absolute;
    top:110%;
    left: 10%;
    animation-name: karoAnimate;
    animation-duration: 0.4s;

}
.loginToApp{
    padding: 0.2rem  0.6rem;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    transition-duration: 0.3s;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loginToApp:active{
    transform: scale(0.9);
}

#cart{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.icon-small{
    font-size: 25px;
}
@keyframes karoAnimate{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}

.mainNav nav ul a li{
    list-style: none;
    /* padding: 1rem; */
    color: white;
    /* color:; */
    position: relative;
}

.brand{
    display: flex;
    align-items: center;
    width: 10%;
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;

}
.brand img{
    height: 25px;margin:0 10px ;
    display: none;
}

#cart{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width:900px)
{
    .mainNav nav ul{
      width:40%;
    }
}
@media only screen and (max-width:800px)
{
    
    .mainNav nav ul{
      position: absolute;
      top:4rem;
      background-color: #83638C;
      flex-direction: column;
      width: 100%;
      align-items: start;
      /* right: ; */
      /* height: 0px; */
      height: 0;
      justify-content: space-evenly;
      overflow: hidden;
      transition-duration: 0.5s;
    }
    .mainNav nav ul a .colorKaroBlack::before{
        display: none;
    }
    
    .mainNav nav .openMenu{
        height: 15rem;
    }
    .mainNav nav ul a li{
        padding: 0.5rem 1rem;

    }
    .mainNav nav ul a{
        width: 100%;
    }
    .brand img{
       display: block;
       border-radius: 50%;
    }
    .mainNav nav{
        justify-content: space-between;
    }
    #cart{
        margin-right: 10px;
    }
   
}
@media only screen and (max-width:600px)
{
    .brand p{
        font-size: 21px;
    }
    .brand img{
        height: 20px;
    }
}
